info:
  contact: {}
paths:
  /user/createUser:
    post:
      parameters:
      - description: name
        in: formData
        name: name
        type: string
      - description: password
        in: formData
        name: password
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 创建用户
      tags:
      - 用户
  /user/deleteUser:
    get:
      parameters:
      - description: id
        in: query
        name: id
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 删除用户
      tags:
      - 用户
  /user/getUser:
    post:
      parameters:
      - description: name
        in: formData
        name: name
        type: string
      - description: password
        in: formData
        name: password
        type: string
      responses:
        "200":
          description: message"}
          schema:
            type: string
      summary: 获取用户信息
      tags:
      - 用户
  /user/getUserList:
    get:
      responses:
        "200":
          description: message"}
          schema:
            type: string
      summary: 获取用户列表
      tags:
      - 用户
  /user/searchFriends:
    post:
      parameters:
      - description: userId
        in: query
        name: userId
        type: string
      responses:
        "200":
          description: message"}
          schema:
            type: string
      summary: 获取用户好友信息
      tags:
      - 用户
  /user/updateUser:
    post:
      parameters:
      - description: id
        in: formData
        name: id
        type: integer
      - description: name
        in: formData
        name: name
        type: string
      - description: password
        in: formData
        name: password
        type: string
      - description: phone
        in: formData
        name: phone
        type: string
      - description: email
        in: formData
        name: email
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: 修改用户
      tags:
      - 用户
swagger: "2.0"
